body {
    font-family: Tahoma, sans-serif;
    background-color: #faf5f2;
    margin: 0;
}

h1 {
    background-color: #1b1b1b;
    color: white;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
    text-align: center;
    font-variant: small-caps;
    font-weight: normal;
}

ul {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.recipe-link {
    display: flex;

    height: 200px;
    width: auto;

    margin: 12px 10px 12px 10px;
    padding-right: 50px;

    background-color: #f7f8f8;

    border-radius: 15px;

    box-shadow: 0px 0px 5px #777777;
}

.recipe-link:hover {
    background-color: #dddddd;
}

.recipe-link img {
    height: 100%;
    width: 266px;

    margin: 0;
    margin-right: 20px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.recipe-link .recipe-desc {
    margin-left: 10px;
}

.recipe-link .recipe-desc p {
    color: #222222;
    font-size: 20px;
}

.recipe-link .recipe-desc h2 {
    color: black;
}
